{
 "presets": [
  ["@babel/preset-react", {
    "runtime": "automatic"
  }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", { "regenerator": true }],
    ["@babel/plugin-syntax-dynamic-import"],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@app": "./src",
        "@components": "./src/components",
        "@pages": "./src/pages",
        "@hooks": "./src/hooks"
      }
    }]
  ]
}
